
body {
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.card {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
